source https://api.nuget.org/v3/index.json

nuget FSharp.Core

group Controller
    source https://api.nuget.org/v3/index.json

    # use NuGet-like strategy because this package will be used preferrably from projects that use NuGet
    strategy: min

    storage: none

    nuget ColorCode.Html
    nuget FSharp.Control.Reactive
    nuget FSharp.Data
    nuget Fue
    nuget SharpLibWin32
    nuget System.Drawing.Common
    nuget Thoth.Json.Net

group UIV2
    source https://api.nuget.org/v3/index.json

    # use NuGet-like strategy because this package will be used preferrably from projects that use NuGet
    strategy: min

    storage: none

    nuget Avalonia
    nuget Avalonia.Desktop
    nuget Avalonia.Diagnostics
    nuget Avalonia.ReactiveUI
    nuget Avalonia.Svg.Skia
    nuget ReactiveUI.Fody
    nuget XamlNameReferenceGenerator

group Test
    source https://api.nuget.org/v3/index.json

    storage: none

    nuget Expecto