source https://api.nuget.org/v3/index.json

group Controller
    # use NuGet-like strategy because this package will be used preferrably from projects that use NuGet
    strategy: min

    source https://api.nuget.org/v3/index.json

    nuget Chromely
    nuget ColorCode.Html
    nuget FSharp.Control.AsyncRx
    nuget FSharp.Control.Reactive
    nuget FSharp.Core
    nuget FSharp.Data
    nuget Fue
    nuget Microsoft.AspNetCore
    nuget Microsoft.AspNetCore.Server.Kestrel
    nuget Microsoft.AspNetCore.WebSockets
    nuget Microsoft.Extensions.Logging
    nuget Microsoft.Extensions.Logging.Configuration # only because of version
    nuget Polly
    nuget Reaction.AspNetCore.Middleware
    nuget SharpLibWin32
    nuget SharpZipLib
    nuget System.Drawing.Common
    nuget Thoth.Json.Net

group UI
    source https://api.nuget.org/v3/index.json

    storage:none

    nuget Fable.Browser.Css
    nuget Fable.Core
    nuget Fable.Elmish.HMR
    nuget Fable.Elmish.Nile
    nuget Fable.Elmish.React
    nuget Fable.Elmish.Debugger
    nuget Fable.Reaction
    nuget FSharp.Control.AsyncRx
    nuget FSharp.Core
    nuget Thoth.Json

group Test
    source https://api.nuget.org/v3/index.json

    storage:none

    nuget Expecto
