type project
id GetIt
title GetIt
authors JEgger
owners JEgger
licenseUrl http://opensource.org/licenses/MIT
projectUrl https://github.com/johannesegger/GetIt
requireLicenseAcceptance false
description .NET library to help introduce programming in a funnier way. Inspired by Scratch and Turtle graphics.
include-referenced-projects true
files
  GetIt.targets ==> build
  ../GetIt.UI.Container/bin/Release/netcoreapp3.1 ==> tools/GetIt.UI.Container
  ../GetIt.UI/deploy ==> tools/GetIt.UI
