$fa-font-path: "./../node_modules/@fortawesome/fontawesome-free/webfonts/"
@import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome'
@import './../node_modules/@fortawesome/fontawesome-free/scss/regular'
@import './../node_modules/@fortawesome/fontawesome-free/scss/solid'
@import './../node_modules/@fortawesome/fontawesome-free/scss/brands'

@import '../node_modules/bulma/bulma'

html
  overflow-y: auto
html, body, #elmish-app, #main
  height: 100%
#main
  display: flex
  flex-direction: column
#scene
  flex: auto
#info
  height: 50px
  padding: 10px 20px
  background: lightgray
  .player
    display: flex
    align-items: center
    font-size: 0.8em
    canvas
      margin-right: 5px
